Medicare n8n Workflows/Medicare Medicines Smart Reminder.json
{
  "name": "Medicare Medicines Smart Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9b130101-6780-4f58-8f37-b28580c403fd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        0
      ],
      "id": "2d3544ba-e2ed-43b0-8a7a-fa1dec753f07",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://favqyuacpwkqbyfdqafj.supabase.co/rest/v1/rpc/get_followup_reminders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhdnF5dWFjcHdrcWJ5ZmRxYWZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5OTM2NzMsImV4cCI6MjA5MTU2OTY3M30.1zYH9Wo1u9wAtl_7t7XTvgSQORwHEGdQSmwUjNTlqk4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        0
      ],
      "id": "ef3961bf-53e6-4a3f-8009-3a28ae28d578",
      "name": "Get Medicines To Send Smart Reminders",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://favqyuacpwkqbyfdqafj.supabase.co/rest/v1/dose_logs?id=eq.{{ $('Loop Over Items').item.json.dose_log_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_SERVICE_KEY"
            },
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_SERVICE_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"followup_sent_at\": \"{{ new Date().toISOString() }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        208
      ],
      "id": "e1443e44-0017-4abb-acaa-dbef49940458",
      "name": "Update followup_sent_at"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Medicines To Send Smart Reminders').item.json.user_email }}",
        "subject": "=Missed Medication: {{ $('Get Medicines To Send Smart Reminders').item.json.medication_name }} {{ $('Get Medicines To Send Smart Reminders').item.json.dosage_amount }}{{ $('Get Medicines To Send Smart Reminders').item.json.dosage_unit }} ({{ $('Get Medicines To Send Smart Reminders').item.json.medication_form }})",
        "message": "=Hi {{ $('Get Medicines To Send Smart Reminders').item.json.user_name }},<br><br>\n\nYou missed your medication scheduled at {{ $('Get Medicines To Send Smart Reminders').item.json.scheduled_time }}.<br><br>\n\nMedication: {{ $('Get Medicines To Send Smart Reminders').item.json.medication_name }} {{ $('Get Medicines To Send Smart Reminders').item.json.dosage_amount }}{{ $('Get Medicines To Send Smart Reminders').item.json.dosage_unit }} ({{ $('Get Medicines To Send Smart Reminders').item.json.medication_form }})<br>\n\nPlease take it as soon as possible or consult your doctor if you are unsure.<br><br>\n\nMAKE SURE TO UPDATE THE MEDICINE STATUS ON THE DASHBOARD AFTER TAKING MEDICINE TO AVOID IT BEING FLAGGED AS MISSED!<br><br>\n\nThis is an automated reminder from Medicare.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        208
      ],
      "id": "aaa8b4bf-19ff-45b4-a87e-627e49cd0006",
      "name": "Smart Reminder Email",
      "webhookId": "5cab46a6-6959-4606-a487-6ff52de6e85a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Nocv2kaijuX9IN02",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Medicines To Send Smart Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Smart Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Medicines To Send Smart Reminders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update followup_sent_at": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Reminder Email": {
      "main": [
        [
          {
            "node": "Update followup_sent_at",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c22bb9ed-5bfa-4932-b8e7-151028dba6db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8944df7b39999488f425be43bb19378cc24446a009514ed038b3783ef1f4361d"
  },
  "id": "Kv4UIOxDBJZP84ld",
  "tags": []
}