Medicare n8n Workflows/Medicare Medicines Reminder.json
{
  "name": "Medicare Medicines Reminder",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://favqyuacpwkqbyfdqafj.supabase.co/rest/v1/rpc/get_medications_due_soon",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"minutes_ahead\": 5 }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        0
      ],
      "id": "f55fa902-1fdb-4fd5-a968-3b206508f3bf",
      "name": "Get Medicines To Send Reminders",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        0
      ],
      "id": "c1e2b522-80b7-4f9b-98ea-ce1bc08631b0",
      "name": "Send Email Of All Medicines Due"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Medicines To Send Reminders').item.json.user_email }}",
        "subject": "=Medication Reminder: {{ $('Get Medicines To Send Reminders').item.json.medication_name }} {{ $('Get Medicines To Send Reminders').item.json.dosage_amount }}{{ $('Get Medicines To Send Reminders').item.json.dosage_unit }}",
        "message": "=Hi {{ $('Get Medicines To Send Reminders').item.json.user_name }},<br><br>\n\nYour medication is due in 5 minutes.<br><br>\n\nMedication: {{ $('Get Medicines To Send Reminders').item.json.medication_name }} {{ $('Get Medicines To Send Reminders').item.json.dosage_amount }}{{ $('Get Medicines To Send Reminders').item.json.dosage_unit }} ({{ $('Get Medicines To Send Reminders').item.json.form }})<br>\nDose: {{ $('Get Medicines To Send Reminders').item.json.amount_per_time }} {{ $('Get Medicines To Send Reminders').item.json.consumption_unit }}<br>\nScheduled: {{ $('Get Medicines To Send Reminders').item.json.scheduled_at }}<br>\nStock Left: {{ $('Get Medicines To Send Reminders').item.json.dose_amount_left }} {{ $('Get Medicines To Send Reminders').item.json.stock_unit }}<br>\nNotes: {{ $json.notes }}<br>\nPrescribed By: {{ $('Get Medicines To Send Reminders').item.json.prescribed_by }}<br><br>\n\nMAKE SURE TO UPDATE MEDICINE STATUS ON THE DASHBOARD TO AVOID UNNECESSARY SMART REMINDER!<br><br>\n\nThis is an automated reminder from Medicare.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        208
      ],
      "id": "519e24ed-8d82-4a0f-98a3-ddf92698999e",
      "name": "Reminder Email",
      "webhookId": "d4da3327-eb70-4d96-84f4-033533e96f25",
      "credentials": {
        "gmailOAuth2": {
          "id": "Nocv2kaijuX9IN02",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7c2a44f1-ca32-489a-804d-5ce277b8444a",
      "name": "Runs Every 5 Minutea To Look For Medicines"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Medicines To Send Reminders": {
      "main": [
        [
          {
            "node": "Send Email Of All Medicines Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Of All Medicines Due": {
      "main": [
        [],
        [
          {
            "node": "Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder Email": {
      "main": [
        [
          {
            "node": "Send Email Of All Medicines Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Runs Every 5 Minutea To Look For Medicines": {
      "main": [
        [
          {
            "node": "Get Medicines To Send Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "915008cd-38f7-4531-b843-06d736f81a9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8944df7b39999488f425be43bb19378cc24446a009514ed038b3783ef1f4361d"
  },
  "id": "K4oz1gFm1ypgYh1R",
  "tags": []
}